<app-page-section [title]="module">
  <app-component-section
    *ngFor="let component of components$ | async"
    [module]="component.module"
    [component]="component.name"
    [files]="component.files"
    [isOpen]="component.isOpen"
    (filesToggled)="toggleComponent(component.id, component.isOpen)"
  >
  </app-component-section>
</app-page-section>